<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contact Us</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title color="primary-dark">
        Location Information
      </ion-card-title>
      <p text-wrap>
        <strong><em>121, Clear Water Bay Road</em></strong>
      </p>
      <p text-wrap>
        <strong><em>Clear Water Bay, Kowloon</em></strong>
      </p>
      <p text-wrap>
        <strong><em>Clear Water Bay, Kowloon</em></strong>
      </p>
      <div>
        <ion-icon name="call"></ion-icon
        ><span>
          <strong><em> Tel: +852 1234 5678</em></strong
          >g</span
        >
      </div>
      <div>
        <ion-icon name="print"></ion-icon
        ><span
          ><strong><em> Fax: +852 8765 4321</em></strong></span
        >
      </div>
      <div>
        <ion-icon name="mail"></ion-icon
        ><span
          ><strong><em> Email:confusion@food.net</em></strong></span
        >
      </div>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="call"></ion-icon>
          Call
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-right clear small (click)="sendEmail()">
          <ion-icon name="mail"></ion-icon>
          &nbsp;Email
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
