<!--
  Generated template for the CommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary-pale">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Add Comment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="comment" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label floating>Your Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Your Rating</ion-label>

      <ion-range
        formControlName="range"
        min="1"
        max="5"
        step="1"
        snaps="true"
        ticks="true"
        value="5"
        pin="true"
      >
        <ion-icon range-left name="sad"></ion-icon>

        <ion-icon range-right name="happy"></ion-icon> </ion-range
    ></ion-item>

    <ion-item>
      <ion-label floating>Your Comment</ion-label>
      <ion-textarea formControlName="comment" rows="12"></ion-textarea>
    </ion-item>

    <button ion-button type="submit" [disabled]="!comment.valid">SUBMIT</button>
  </form>
</ion-content>
